nav{
    background-color: rgba(255,255,255,0.96);
}
#expomain{
    margin-top: 200px;
    width:940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.expo_holda{
    width:940px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.expo_holdb,.expo_holdc,.expo_holdd{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
}
.expo_holdb,.expo_holdd{
    margin-bottom: 100px;
}
.expo_holdc{
    margin-bottom: 40px;
}
.expo_holde{
    width:640px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
}
.expo_datediagr{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
.expo_datetxta{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}
.expo_datetxtb{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    margin-left: 80px;
}
.expo_datetxtc,.expo_datetxtd{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.expo_datetxtc{
    margin: 80px 150px 0px 0px;
    width: 34%;
}
.expo_datetxtd{
    margin: 0px 60px 0px 0px;
    width: 70%;
}
.expo_datebar{
    margin: 30px 0px 20px 0px;
    background-color: rgb(30,30,30);
    width: 2px;
    height: 20px;
    transform: rotate(18deg);
    align-self: center;
    -webkit-align-self: center;
}
.expo_titl{
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
}
.expo_subtitl{
    font-family: Poppins;
    font-weight: 400;
    font-size: 26px;
}
.expo_btxta{
    width: 380px;
    margin-top: 60px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
}
.expo_btxtb{
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin:10px 30px 60px 30px;
}
.expo_choice1,.expo_choice2{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.expo_choimg{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.expo_over{
    height: 100%;
    width: 100%;
    background-color: rgba(240,132,101,0);
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 20;
    transform: translate(-0%,-0%);
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.expo_chotxt{
    font-weight: 600;
    font-family: poppins;
    font-size: 20px;
    color: rgb(255,255,255);
    text-shadow: rgb(30,30,30) 0px 0px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 20;
    transform: translate(-50%,-50%);
    text-align: center;
}
.expo_choice1:hover .expo_over,.expo_choice1:focus .expo_over,.expo_choice1:active .expo_over,.expo_choice2:hover .expo_over,.expo_choice2:focus .expo_over,.expo_choice2:active .expo_over{
    background-color: rgba(240,132,101,0.4);
}
.mySlides,.mySlides2 {display:none}
/* Slideshow container */
.slideshow-container,.slideshow-container2,.slideshow-container3 {
  width: 100%;
  position: relative;
  margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: center;
}

/* Next & previous buttons */
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    padding: 10px;
    margin-top: -22px;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    font-size: 50px;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    border-radius: 0 3px 3px 0;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    justify-content: center;
}
.text {
  color: rgb(255,255,255);
  font-size: 16px;
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
}
/* Position the "next button" to the right */
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover{
  color: rgba(255,255,255,1);
}
.dot_holder{
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    
}
/* The dots/bullets/indicators */
.dot, .dot2 {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 4px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.active, .dot:hover,.active2, .dot2:hover {
  background-color: rgba(255,255,255,1);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1000px){
    #expomain{
    width: 100%;
}
    .nav_page{
        width: 100%;
        height: 100vh;
        background-color: rgb(240,132,101);
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 900;
        display: flex;
        flex-direction: column;
        position: fixed;
        pointer-events: none;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-transition: opacity 0.6s ease;
        -moz-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease;
    }
    .nav_page.active{
        opacity: 1;
        pointer-events: all;
        display: flex;
        display: -webkit-flex;
        -webkit-transition: opacity 0.4s ease;
        -moz-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
    }
    .expo_datebar{
    display: none;
}
    .expo_datetxtc{
    margin: 80px 100px 0px 0px;
    width: auto;
}
.expo_datetxtd{
    margin: 0px 60px 0px 0px;
    width: 46%;
}
    .expo_holde{
    width:auto;
        box-sizing: border-box;
        padding: 0px 40px 0px 0px;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
}
    .expo_holda{
    width:100%;
        box-sizing: border-box;
        padding: 0px 60px 0px 60px;
}
    .expo_holdd{
        flex-direction: column;
        -webkit-flex-direction:column;
    }
    .expo_choice1{
    width: 200px;
    height: 200px;
}   
    .expo_choice2{
        display: none;
    }
.expo_choimg{
    width: 200px;
    height: 200px;
}
    .expo_datetxtd{
    margin: 0px 20px 0px 0px;
}
}
@media only screen and (max-width:740px){
    .expo_holde{
        padding: 0px 0px 0px 0px;
        justify-content: center;
        -webkit-justify-content: center;
}
    .expo_holdd{
    margin-bottom: 0px;
}
    .expo_holde{
    width:100%;
        justify-content: center;
        -webkit-justify-content: center;
}
    .expo_choice1{
    margin: 0px 10px 0px 10px;
}
    .expo_btxta{
        display: none;
    }
    .expo_subtitl{
    text-align: center;
        line-height: 40px;
}
     .expo_datetxtc{
    margin: 80px 100px 0px 0px;
}
.expo_datetxtd{
    margin: 0px 100px 40px 0px;
    width: auto;
}
    .expo_holdb,.expo_holdc{
        flex-direction: column;
        align-items: center;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
    }
}
@media only screen and (max-width:600px){
    .slideshow-container,.slideshow-container2,.slideshow-container3 {
        margin-bottom: 40px;
    }
    .prev, .next{
        padding: 6px;
        font-size: 30px;
    }
    .text{
        bottom: 40px;
        font-size: 12px;
    }
    .dot{
        height: 10px;
        width: 10px;
    }
    .expo_choice1{
        margin: 0px 0px 0px 0px;
    width: 160px;
    height: 160px;
}
.expo_choimg{
    width: 160px;
    height: 160px;
}
    .expo_datetxtc{
    margin: 60px 40px 0px 0px;
}
    .expo_datetxtd{
    margin: 0px 40px 40px 0px;
}
    .expo_holda{
        padding: 0px 30px 0px 30px;
}
    .expo_datediagr{
    margin-top: 60px;
}
    .expo_subtitl{
        font-size: 20px;
        line-height: 28px;
    }
    .expo_btxtb{
    font-size: 14px;
    margin:10px 30px 60px 30px;
}
}
@media only screen and (max-width:380px){
    .expo_choice1{
    width: 140px;
    height: 140px;
}
.expo_choimg{
    width: 140px;
    height: 140px;
}
    .expo_datetxtc{
    font-size: 14px;
}
    .expo_subtitl{
        font-size: 18px;
        line-height: 26px;
    }
}
@media only screen and (max-width:340px){
    .prev, .next{
        padding: 4px;
        font-size: 26px;
    }
    .dot{
        height: 8px;
        width: 8px;
    }
    .expo_datediagr{
    margin-top: 40px;
}
    .expo_titl{
        font-size: 26px;
    }
    .expo_holdc{
        margin-bottom: 20px;
    }
    .expo_datetxtc{
    margin: 60px 20px 0px 0px;
}
    .expo_datetxtd{
    margin: 0px 20px 40px 0px;
}
    .expo_choice1{
    width: 120px;
    height: 120px;
}
.expo_choimg{
    width: 120px;
    height: 120px;
}
}
@media only screen and (max-height: 360px){
    .expo_holde{
    width:100%;
        justify-content: center;
        -webkit-justify-content: center;
}
    .expo_choice1{
    margin: 0px 10px 0px 10px;
}
    .expo_datetxtc{
    font-size: 14px;
}
}