nav{
    background-color: rgba(255,255,255,0.96);
}
.fi_holdficha{
    box-sizing: border-box;
    padding: 200px 100px 0px 100px;
    width: 100%;
    background-color: rgb(251,118,96);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
#fi_holdfcont{
    width: 100%;
    margin: 100px 0px 0px 0px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.fi_holdfsec1,.fi_holdfsec2,.s_holdfsec3{
    width: 100%;
    display: flex;
    display: -webkit-flex;
}
.fi_holdfsec1,.fi_holdfsec2{
    margin-bottom: 40px;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.fi_titl{
    font-family: Poppins;
    color: rgb(255,255,255);
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 40px;
}
.fi_logo{
    height: 100px;
    width: 100px;
    background-color:rgb(255,255,255);
    mask-image: url(img/nav_logo.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url(img/nav_logo.svg);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
.fi_holdfsec3{
    height: 264px;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.fi_fblks, .fi_fbblk1,.fi_fbblk2,.fi_fbblk1,.fifiblks{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.fi_fblks,.fi_fbblk1, .fi_fbblk2, .fi_fbblk3{
    width: 220px;
}
.fi_fblks,.fi_fbblk1, .fi_fbblk2{
    margin-right: 30px;
}
.fi_fblks, .fi_fblks2{
    margin-bottom: 20px;
}
.fi_fblks2{
    margin-right: 30px;
}
.fi_fiblks{
    margin-left: 0px;
    margin-top: 20px;
}
.fi_fbblk1{
}
.fi_fbblk2{
    margin-top: 124px;
}
.fi_fbblk3{
    margin-top: 248px;
}
.fi_fbtitl{
    color: rgb(255,255,255);
    font-family: poppins;
    font-size: 16px;
    font-weight: 600;
}
.fi_fstitl, .fi_ftxt{
    color: rgb(255,255,255);
    font-family: poppins;
    font-size: 12px;
}
.fi_ftitl{
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(255,255,255);
}
.fi_fstitl{
    font-weight: 600;
    margin-bottom: 8px;
}
.fi_ftitl{
    color: rgb(255,255,255);
    font-family: poppins;
    font-size: 14px;
}
.fi_ftxt{
    font-weight: 400;
}
.fi_fpshelf{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.fi_fpatrns{
    height: 100px;
    width: 100px;
    margin: 10px 10px 0px 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 720px){
    .fi_holdficha{
    padding: 200px 40px 0px 40px;
}
    .fi_fblks,.fi_fbblk1, .fi_fbblk2{
    margin-right: 0px;
}
.fi_fblks2{
    margin-right: 0px;
}
}
@media only screen and (max-width: 600px){
    .fi_holdficha{
    padding: 100px 30px 0px 30px;
}
    .fi_holdfsec3{
    height: auto;
    margin-bottom: 20px;
}
    #fi_holdfcont{
    width: 100%;
    margin: 20px 0px 0px 0px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
    .fi_holdfsec1{
    margin-bottom: 20px;
    flex-direction: column;
    -webkit-flex-direction: column;
}
    .fi_holdfsec2{
        margin: 0;
        flex-direction: column;
    -webkit-flex-direction: column;
    }

    .fi_fblks,.fi_fbblk1,.fi_fbblk3{
    width: auto;
        margin-bottom: 20px;
}
    .fi_fbblk2{
    margin-top: 20px;
        align-self: center;
}
    .fi_fblks{
    margin-bottom: 20px;
}
    .fi_fblks2{
        margin: 0;
    }
.fi_fbblk3{
    margin-top: 20px;
    align-self: flex-end;
}
    .fi_ftitl{
        width: 200px;
    }
}