@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500');
body{
    margin: 0;
    padding: 0;
    background-color:rgb(255,255,255);
    color: rgb(30,30,30);
    font-family: Roboto;
    font-weight: 400;
    align-items: center;
    position: relative;
    display: flex;
    pointer-events: all;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
iframe{
    border: none;
}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: rgb(251,118,96);
    cursor: pointer;
}
t{
    font-weight: 300;
    margin-left: 10px;
}
b{
    font-weight: 600;
}
nav{
    left: 0;
    top: 0;
    right: 0;
    height: 110px;
    width: 100%;
    background-color: rgba(255,255,255,0);
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 100;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: row;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
nav.scroll{
    background-color: rgba(255,255,255,0.96);
}
#navbox{
    width:100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 40px 10px 40px;
}
#navlogo{
    height: 70px;
    width: 90px;
    background-image: url(img/nav_logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-flex;
    z-index: 101;
}
.navrack{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
}
.navbttns{
    box-sizing: border-box;
    padding-left: 40px;
    color: rgb(251,118,96);
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.navbttns:hover,.navbttns:focus,.navbttns:active{
    font-weight:600;
}
#navinsta, #navface{
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}
#navinsta{
    margin-left: 60px;
    margin-right: 20px;
    background-image: url(img/instaic.svg);
}
#navface{
    margin-right: 40px;
    background-image: url(img/faceic.svg);
}
#navinsta:hover, #navface:hover,{
    transform: scale(1.2,1.2);
}
#navinsta:focus, #navface:focus,#navinsta:active, #navface:active{
    transform: scale(0.8,0.8);
}
.navlangs{
    box-sizing: border-box;
    padding-left: 20px;
    color: rgb(251,118,96);
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.navlangs:hover,.navlangs:focus,.navlangs:active{
    font-weight: 600;
}
.navburger{
    display: none;
    -webkit-display: none;
}
.nav_page{
    display: none;
    display: -webkit-none;
}
.nav_page.active{
    display: none;
    display: -webkit-none;
}
#head_wrap{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position:relative;
    box-sizing: border-box;
    background-color: rgb(30,30,30);
    background-image: url(img/trent-erwin-338084.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.vid_wrap{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    overflow:hidden;
    left: 0;
    top: 0;
    background-color: rgb(30,30,30);
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
#head_vid{
    width: 230vh;
    min-width:100%;
    height: 100%;
    min-height: 60vw;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    left: 50%;
    top:50%;
    -oz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#head_shirt{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    background-color: rgba(30,30,30,0.5);
    padding: 80px;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    box-sizing: border-box;
}
#shirttxt{
    font-family: Poppins;
    width: 940px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-top: 8%;
}
.headtitl{
    font-size: 38px;
    color: rgb(255,255,255);
    margin-bottom: 10px;
    width: 600px;
}
.headtxt{
    font-size: 24px;
    color: rgb(255,255,255);
    margin-bottom: 40px;
}
.headtxt2{
    font-size: 26px;
    color: rgb(255,255,255);
    margin-bottom: 120px;
    width: 400px;
}
.headdateh{
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    margin-bottom: 20px;
}
.headdates{
    font-size: 26px;
    color: rgb(255,255,255);
}
.playgate{
    align-items: center;
    color: rgb(255,255,255);
    z-index: 15;
    opacity: 0.4;
    padding: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.playb{
    height: 100px;
    width: 100px;
    background-image: url(img/playb.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.playgate:hover{
    opacity: 1;
    transform: scale(1.2,1.2);
}
.playgate:focus,.playgate:active{
    opacity: 1;
    transform: scale(0.8,0.8);
}
.main_play{
    width: 100%;
    height: 100vh;
    background-color: rgb(30,30,30);
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    flex-direction: row;
    position: fixed;
    pointer-events: none;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}
.main_play.active{
    opacity: 1;
    pointer-events: all;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}
#main_vid{ 
    display: inline-block;
    height: 100%;
    width: 100%;
}
.closex{
    position: absolute;
    padding: 0px 40px 0px 40px;
    top: 0;
    right: 0;
    color: rgba(255,255,255,0.6);
    font-family: poppins;
    font-size: 60px;
    font-weight: 400;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.closex:hover{
    color: rgba(255,255,255,1);
    transform: scale(1.2,1.2);
}
.closex:focus,.closex:active{
    color: rgba(255,255,255,1);
    transform: scale(0.8,0.8);
}
#hmain_cont{
    width: 1200px;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
.hmain_secs, .hmain_secp, .hmain_sece, .hmain_seca, .hmain_secr{
    padding: 60px 0px 0px 0px;
    margin-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
}
.hmain_secp{
    background-image: url(img/img5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hmain_blkt1,.hmain_blkt3,.hmain_blkt5{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
}
.hmain_blkt1, .hmain_blkt5{
    margin-bottom: 60px;
}
.hmain_blkt2{
    width: 100%;
    margin-bottom: 60px;
    display:flex;
    justify-content: space-between;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-between;
}
.hmain_blkt3{
    padding: 70px 100px 0px 140px;
    box-sizing: border-box;
}
.hmain_blkt4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
}
.hmain_blk1, .hmain_blk2, .hmain_blk3{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
.hmain_blk2{
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding: 0px 120px 100px 180px;
}
.hmain_blk3{
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    padding: 0px 200px 0px 180px;
}
.hmain_titl,.hmain_titl2{
    font-weight: 600;
    font-family: poppins;
    font-size: 40px;
    margin: 100px 0px 10px 140px;
}
.hmain_titl2{
    margin-bottom: 40px;
}
.hmain_stitl{
    width: 430px;
    font-weight: 400;
    font-family: poppins;
    font-size: 30px;
    margin: 40px 0px 10px 300px;
    line-height: 36px;
}
.hmain_btxt1, .hmain_btxt2, .hmain_btxt3{
    font-weight: 600;
    font-family: poppins;
    font-size: 20px;
}
.hmain_btxt1{
    margin: 0px 0px 0px 300px;
}
.hmain_stxt1,.hmain_stxt2{
    font-family: poppins;
    font-size: 30px;
    margin: 0px 0px 0px 300px;
}
.hmain_stxt1{
    font-weight: 600;
}
.hmain_stxt2{
    font-weight: 400;
    color: rgb(251,118,96);
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.hmain_stxt2:hover,.hmain_stxt2:focus,.hmain_stxt2:active{
    font-weight: 600;
}
.hmain_txt{
    font-weight: 400;
    font-family: poppins;
    font-size: 16px;
    margin: 0px 0px 20px 300px;
}
#hmain_simg1, #hmain_simg2, #hmain_simg3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hmain_simg1, #hmain_simg2{
    margin-left: 40px;
    width: 500px;
    height: 540px;
}
#hmain_simg1{
    margin-top: -100px;
    height: 600px;
    background-image: url(img/img1.jpg);
}
#hmain_simg2{
    background-image: url(img/img3.jpg);
}
#hmain_simg3{
    margin:0px 0px 0px 300px ;
    height: 460px;
    width: 540px;
    background-image: url(img/img4.jpg);
}
.hbuylink{
    font-weight: 600;
    font-family: poppins;
    font-size: 20px;
    color: rgb(251,118,96);
    align-self: flex-end;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.hbuylink:hover,.hbuylink:active,.hbuylink:focus{
    font-weight: 700;
}
.hmain_ablk1, .hmain_ablk2, .hmain_ablk3{
    margin:0px 0px 40px 20px;
    width: 220px;
    display: flex;
    position: relative;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
.hmain_apics{
    margin-bottom: 10px;
    width: 220px;
    height:200px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.apics_over{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    transform: translate(0%,0%);
    background-color: rgba(251,118,96, 0);
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.hmain_atitl,.hmain_attxt{
    font-family: poppins;
    font-weight: 600;
}
.hmain_adate{
    font-family: poppins;
    margin:30px 0px 0px 20px;
    color: rgb(255,255,255);
    font-size: 20px;
    left: 0%;
    top: 0%;
    transform: translate(-0%,-0%);
    z-index: 5;
    position: absolute;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.hmain_atitl{
    font-size: 18px;
    color: rgb(251,118,96);
    margin-bottom: 6px;
}
.hmain_attxt{
    font-size: 14px;
    color: rgb(30,30,30);
}
.hmain_ablk1:hover .apics_over, .hmain_ablk2:hover .apics_over, .hmain_ablk3:hover .apics_over,.hmain_ablk1:active .apics_over, .hmain_ablk2:active .apics_over, .hmain_ablk3:active .hmain_adate,.hmain_ablk1:focus .apics_over, .hmain_ablk2:focus .apics_over, .hmain_ablk3:focus .apics_over{
    background-color: rgba(251,118,96, 0.4);
}
.hmain_ablk1:hover .hmain_adate, .hmain_ablk2:hover .hmain_adate, .hmain_ablk3:hover .hmain_adate,.hmain_ablk1:active .hmain_adate, .hmain_ablk2:active .hmain_adate, .hmain_ablk3:active .hmain_adate,.hmain_ablk1:focus .hmain_adate, .hmain_ablk2:focus .hmain_adate, .hmain_ablk3:focus .hmain_adate{
    font-weight: 600;
}
.hmoreico{
    height: 30px;
    width: 30px;
    font-family: poppins;
    font-weight: 400;
    font-size: 50px;
    align-self: flex-end;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.hmoreico:hover,.hmoreico:focus,.hmoreico:active {
    font-weight: 600;
}
.hsocialbox{
    height: 350px;
    width: 350px;
    margin: 80px 20px 80px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.hmain_soico{
        display: none;
}
#foot{
    width: 100%;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(251,118,96);
    box-sizing: border-box;
    padding:20px 100px 20px 100px;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
}
#footword{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.foottitl{
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}
.foottxt{
    font-weight: 300;
    color: white;
    font-size: 10px;
}
.foot_ficha{
        display: none;
    }
@media only screen and (max-width: 1200px) {
    .headtitl{
    font-size: 30px;
        width: 400px;
}
.headtxt{
    font-size: 20px;
}
.headtxt2{
    font-size: 24px;
}
.headdates{
    font-size: 24px;
}
    #hmain_cont{
        width: 100%;
    }
    .hmain_titl,.hmain_titl2{
        font-weight: 600;
        font-family: poppins;
        font-size: 40px;
        margin: 40px 0px 10px 80px;
    }
    .hmain_titl2{
        margin-bottom: 20px;
    }
    
    .hmain_blk2{
        padding: 0px 80px 100px 120px;
    }
    .hmain_blk3{
        padding: 0px 160px 0px 140px;
    }
    .hmain_btxt1{
        margin: 0px 0px 0px 200px;
    }
    #hmain_simg1, #hmain_simg2{
        width: 400px;
        height: 480px;
    }
    .hmain_stitl{
        margin: 40px 0px 10px 200px;
    }
    .hmain_stxt1,.hmain_stxt2{
        font-size: 26px;
        margin: 0px 0px 0px 200px;
    }
    .hmain_txt{
        font-weight: 400;
        font-family: poppins;
        font-size: 16px;
        margin: 0px 0px 20px 200px;
    }
    #hmain_simg3{
        margin:0px 0px 0px 200px;
        height: 400px;
        width: 500px;
    }
    .hmain_blkt3{
        padding: 40px 60px 0px 80px;
    }
}
@media only screen and (max-width: 1000px){
    nav{
        height: auto;
    }
    #navbox{
        align-items: center;
        -webkit-align-items: center;
        padding: 16px 40px 16px 40px;
    }
    #navlogo{
        height: 70px;
        width: 80px;
    }
    .navrack{
        display: none;
    }
    .navburger{
        height: 70px;
        width: 50px;
        display:flex;
        display:-webkit-flex;
        background-image: url(img/nav_burger.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .nav_page{
        width: 100%;
        height: 100vh;
        background-color: rgb(251,118,96);
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 900;
        display: flex;
        flex-direction: column;
        position: fixed;
        pointer-events: none;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-transition: opacity 0.6s ease;
        -moz-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease;
    }
    .nav_page.active{
        opacity: 1;
        pointer-events: all;
        display: flex;
        display: -webkit-flex;
        -webkit-transition: opacity 0.4s ease;
        -moz-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
    }
    .np_bar{
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        padding: 20px 0px 20px 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-align-items: center;
        -webkit-justify-content: space-between;
    }
    .np_logo{
        height: 70px;
        width: 80px;
        background-color: rgb(255,255,255);
        mask-image:url(img/nav_logo.svg);
        mask-repeat:no-repeat;
        mask-size:contain;
        mask-position:center;
        -webkit-mask-image:url(img/nav_logo.svg);
        -webkit-mask-repeat:no-repeat;
        -webkit-mask-size:contain;
        -webkit-mask-position:center;
    }
    .np_close{
        color: rgba(255,255,255,1);
        box-sizing: border-box;
        padding: 0px 50px 0px 40px;
        font-family: poppins;
        font-size: 50px;
        font-weight: 400;
        -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    }
    .np_close:hover{
        transform: scale(1.2,1.2);
    }
    .np_close:active,.np_close:focus{
        transform: scale(0.8,0.8);
    }
    .np_back{
        height: 50px;
        width: 60px;
        background-image: url(img/back_b.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
       -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    }
 .np_back:hover{
       transform: scale(1.2,1.2);
    }
    .np_back:active,.np_back:focus{
        transform: scale(0.8,0.8);
    }
    .np_cont{
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -webkit-justify-content: flex-end;
    }
    .np_butts{
        font-family: poppins;
        color: rgb(255,255,255);
        font-weight: 400;
        font-size: 26px;
        margin: 0px 0px 60px 0px;
        -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
    }
    .np_butts:hover,.np_butts:active,.np_butts:focus{
        font-weight: 600;
    }
    .np_langs{
        margin: 0px 20px 0px 20px;
        font-family: poppins;
        color: rgb(255,255,255);
        font-weight: 400;
        font-size: 22px;
        -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
    }
    .np_langs:hover,.np_langs:active,.np_langs:focus{
        font-weight: 600;
    }
    .np_srack{
        margin: 0px 0px 60px 0px;
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: center;
    }
    .np_social{
        margin: 0px 20px 0px 20px;
        height: 50px;
        width: 50px;
        background-color: rgb(255,255,255);
        mask-repeat:no-repeat;
        mask-size:contain;
        mask-position:center;
        -webkit-mask-repeat:no-repeat;
        -webkit-mask-size:contain;
        -webkit-mask-position:center;
        -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    }
    .np_social:hover{
       transform: scale(1.2,1.2);
    }
    .np_social:active,.np_social:focus{
        transform: scale(0.8,0.8);
    }
    .np_foot{
        width: 100%;
        padding: 20px 20px 20px 20px;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: flex-end;
    }
    #head_shirt{
        min-height: 0px;
        padding: 80px;
    }
    #shirttxt{
        font-family: Poppins;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 40px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .headtitl{
        width: 100%;
        box-sizing: border-box;
        padding: 0px 200px 0px 0px;
        font-size: 30px;
        margin-bottom: 20px;
        margin-top: 100px;
    }
    .headtxt{
        font-size: 20px;
    }
    .headtxt2{
        width: 100%;
        box-sizing: border-box;
        padding: 0px 260px 0px 0px;
     font-size: 22px;
        margin-bottom: 8%;
    }
    .headdateh{
        width: 100%;
        text-align: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    }
    .headdates{
        font-size: 24px;
    }
    .hmain_btxt2, .hmain_btxt3{
        width: 300px;
        margin-left: 80px;
    }
    .hmain_ablk1, .hmain_ablk2, .hmain_ablk3{
    margin:20px 0px 0px 0px;
    width: 100%;
        height: 160px;
        box-sizing: border-box;
        padding: 0px 0px 0px 40px;
    display: flex;
    position: relative;
    flex-direction: column;
        justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: column;
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    .hmain_ablk1{
        background-image: url(img/img2.jpg);
    }
    .hmain_ablk2{
        background-image: url(img/img5.jpg);
    }
    .hmain_ablk3{
        background-image: url(img/img6.jpg);
    }
.hmain_apics{
    display: none;
}
.hmain_adate,.hmain_atitl,.hmain_attxt{
    font-family: poppins;
    font-weight: 600;
    
}
.hmain_adate{
    height: 100%;
    width: 240px;
    box-sizing: border-box;
    padding: 0px 0px 0px 40px;
    background-color: rgb(251,118,96);
    margin:0px 0px 0px 0px;
    color: rgb(255,255,255);
    font-size: 30px;
    right: 0%;
    left: auto;
    top: 0%;
    transform: translate(-0%,-0%);
    display: flex;
    align-items: center;
}
.hmain_atitl{
    font-size: 20px;
    color: rgb(251,118,96);
    margin-bottom: 10px;
}
.hmain_attxt{
    font-size: 16px;
}
    .hmain_secs, .hmain_secp, .hmain_sece, .hmain_seca, .hmain_secr{
    padding: 0px 0px 0px 0px;
    margin:60px 0px 0px 0px;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        -webkit-align-items: center;
}
    .hmain_secs{
        background-image: url(img/img1.jpg);
    }
    .hmain_sece{
        background-image: url(img/img6.jpg);
    }
    #hmain_simg1, #hmain_simg2, #hmain_simg3{
        display: none;
    }
    .hmain_blkt1,.hmain_blkt5,.hmain_blkt3,.hmain_blkt2{
        margin: 0px 0px 40px 0px;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
    }
    .hmain_blkt5{
        flex-flow: column-reverse;
        -webkit-flex-flow: column-reverse;
    }
    .hmain_blk1, .hmain_blk2, .hmain_blk3{
    width: 100%;
        align-items: center;
        padding: 0px 0px 0px 0px;
}
    .hmain_titl,.hmain_titl2{
    font-weight: 600;
    font-family: poppins;
    font-size: 40px;
    margin: 100px 40px 40px 40px;
        text-align: center;
}
    .hmain_btxt1, .hmain_btxt2,.hmain_btxt3{
        width: auto;
    margin: 0px 160px 20px 100px;
}
    .hmoreico{
        font-size: 80px;
        align-self: auto;
        margin-bottom: 60px;
    }
    .hmain_stitl{
        width: auto;
        margin: 0px 160px 0px 100px;
        align-self: flex-start;
    }
    .hmain_stxt1,.hmain_stxt2{
        font-size: 26px;
    }
.hmain_stxt1{
        margin: 20px 0px 0px 100px;
    align-self: flex-start;
    }
    .hmain_stxt2{
        margin: 30px 0px 0px 0px;
    }
    .hmain_txt{
        display: none;
    }
    .hbuylink{
        margin: 0px 100px 0px 0px;
        font-size: 24px;
    }
    .hsocialbox{
        display: none;
    }
    .hmain_soico{
        margin: 0px 40px 100px 40px;
        display: block;
        width: 80px;
        height: 80px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    #foot{
    align-items: center;
        text-align: center;
    justify-content: center;
    background-color: rgb(251,118,96);
    box-sizing: border-box;
    padding:20px 100px 20px 100px;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
}
#footword{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.foottitl{
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
}
.foottxt{
    font-weight: 300;
    color: white;
    font-size: 10px;
}
    .foot_ficha{
        display: block;
        font-weight: 400;
    color: white;
    font-size: 12px;
        text-decoration: underline;
        box-sizing: border-box;
        padding: 10px;
    }
}
@media only screen and (max-width: 800px){
    #head_wrap{
    min-height: 100vh;
}
    #head_shirt{
    min-height: 100vh;
    padding: 0px 80px 0px 80px;
}
#shirttxt{
    width: 100%;
}
}
@media only screen and (max-width: 600px){
    nav{
    height: auto;
    box-sizing: border-box;
    padding: 16px 30px 16px 30px;
}
    .np_bar{
        height: auto;
       padding: 16px 0px 16px 30px; 
    }
#navbox{
    padding: 0px 0px 0px 0px;
}
#navlogo{
    height: 40px;
    width: 60px;
}
    .np_logo{
       height: 40px;
    width: 60px;
    }
    .np_close{
        padding: 0px 40px 0px 20px;
        font-family: poppins;
        font-size: 24px;
    }
    .navburger{
        height: 30px;
        width: 40px;
    }
    #head_wrap{
    min-height: 100vh;
}
.vid_wrap{
    display: none;
}
#head_shirt{
    min-height: 100vh;
    padding: 20px 30px 20px 30px;
}
#shirttxt{
    width: 100%;
}
.headtitl{
    font-size: 24px;
    color: rgb(255,255,255);
    margin-bottom: 10px;
    padding: 0px 40px 0px 0px;
}
.headtxt{
    font-size: 16px;
    color: rgb(255,255,255);
    margin-bottom: 20px;
}
.headtxt2{
    font-size: 18px;
    color: rgb(255,255,255);
    margin-bottom: 60px;
    padding: 0px 40px 0px 0px
}
.headdateh{
    margin-bottom: 20px;
}
.headdates{
    font-size: 18px;
    color: rgb(255,255,255);
}
.playb{
    height: 80px;
    width: 80px;
}
.closex{
    padding: 0px 40px 0px 40px;
    font-size: 46px;
}
    .np_back{
        height: 40px;
        width: 60px;
    }
    .np_cont{
        margin-top: 60px;
    }
    .np_butts{
        font-family: poppins;
        color: rgb(255,255,255);
        font-size: 20px;
        margin: 0px 0px 40px 0px;
    }
    .np_langs{
        margin: 0px 20px 0px 20px;
        font-family: poppins;
        color: rgb(255,255,255);
        font-weight: 300;
        font-size: 18px;
    }
    .np_srack{
        margin: 0px 0px 40px 0px;
    }
    .np_social{
        margin: 0px 20px 0px 20px;
        height: 40px;
        width: 40px;
    }
    .hmain_titl,.hmain_titl2{
    font-size: 30px;
    margin: 100px 40px 40px 40px;
}
    .hmain_btxt1, .hmain_btxt2,.hmain_btxt3{
        width: auto;
        font-size: 18px;
    margin: 0px 60px 30px 30px;
}
    .hmoreico{
        font-size: 70px;
        align-self: auto;
        margin-bottom: 60px;
    }
    .hmain_stitl{
        font-size: 26px;
        margin: 0px 60px 0px 30px;
    }
    .hmain_stxt1{
        margin: 0px 0px 0px 30px;
    align-self: flex-start;
    }
    .hmain_secs, .hmain_secp, .hmain_sece, .hmain_seca, .hmain_secr{
    padding: 0px 0px 60px 0px;
    margin:40px 0px 0px 0px;
        box-sizing: border-box;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        -webkit-align-items: center;
}
    .hmain_secr{
        margin: 0px 0px 0px 0px;
    }
    .hmain_ablk1, .hmain_ablk2, .hmain_ablk3{
        height: 100px;
        padding: 0px 0px 0px 40px;
        margin: 10px 0px 0px 0px;
}
.hmain_adate{
    width: 160px;
    padding: 0px 0px 0px 30px;
    font-size: 20px;
}
.hmain_atitl{
    font-size: 18px;
    margin-bottom: 8px;
}
.hmain_attxt{
    font-size: 14px;
}
    .hmain_soico{
        margin: 0px 20px 100px 20px;
        display: block;
        width: 60px;
        height: 60px;
    }
    .hbuylink{
        margin: 0px 60px 0px 0px;
    }
}
@media only screen and (max-width: 380px){
    nav{
    padding: 14px 30px 14px 30px;
}
    .np_bar{
       padding: 14px 0px 14px 30px; 
    }
.headtitl{
    font-size: 20px;
}
.headtxt{
    font-size: 14px;
}
.headtxt2{
    font-size: 16px;
}
.headdates{
    font-size: 16px;
}
.playb{
    height: 60px;
    width: 60px;
}
.closex{
    padding: 10px 40px 0px 40px;
    font-size: 30px;
}
    .np_cont{
        margin-top: 60px;
    }
    .np_butts{
        font-size: 18px;
        margin: 0px 0px 30px 0px;
    }
    .np_langs{
        font-size: 16px;
    }
    .np_social{
        height: 30px;
        width: 30px;
    }
    .hmain_titl,.hmain_titl2{
    font-size: 26px;
    margin: 80px 30px 40px 30px;
}
    .hmain_btxt1, .hmain_btxt2,.hmain_btxt3{
        width: auto;
        font-size: 16px;
    margin: 0px 30px 20px 30px;
}
    .hmoreico{
        font-size: 50px;
        align-self: auto;
        margin-bottom: 20px;
    }
    .hmain_stitl{
        font-size: 22px;
        margin: 0px 30px 0px 30px;
    }
    .hmain_stxt1{
        margin: 0px 0px 0px 30px;
    align-self: flex-start;
    }
    .hmain_stxt2{
        font-size: 24px;
        margin: 20px 0px 0px 0px;
    }
    .hmain_secs, .hmain_secp, .hmain_sece, .hmain_seca, .hmain_secr{
    padding: 0px 0px 40px 0px;
    margin:20px 0px 0px 0px;
}
    .hmain_secr{
        margin: 0px 0px 0px 0px;
    }
    .hmain_ablk1, .hmain_ablk2, .hmain_ablk3{
        height: 100px;
        padding: 0px 0px 0px 30px;
}
.hmain_adate{
    width: 160px;
    padding: 0px 0px 0px 30px;
    font-size: 20px;
}
.hmain_atitl{
    font-size: 18px;
    margin-bottom: 8px;
}
.hmain_attxt{
    font-size: 14px;
}
    .hmain_soico{
        margin: 0px 20px 100px 20px;
        display: block;
        width: 60px;
        height: 60px;
    }
    .hbuylink{
        margin: 0px 30px 0px 0px;
        font-size: 20px;
    }
}
@media only screen and (max-height:600px){
    #head_wrap{
    min-height: 100vh;
}
.vid_wrap{
    display: none;
}
    #head_shirt{
    min-height: 100vh;
    padding: 0px 80px 0px 80px;
}
#shirttxt{
    width: 100%;
}
    .headtitl{
    font-size: 26px;
}
.headtxt{
    font-size: 20px;
}
.headtxt2{
    font-size: 22px;
    margin-bottom: 8%;
}
    .headdates{
    font-size: 22px;
}
}
@media only screen and (max-height:580px){
    #head_shirt{
    min-height: 100vh;
    padding: 0px 30px 0px 30px;
}
    shirttxt{
    width: 100%;
}
    .headtitl{
    font-size: 20px;
}
.headtxt{
    font-size: 14px;
}
.headtxt2{
    font-size: 16px;
    margin-bottom: 20%;
}
    .headdates{
    font-size: 16px;
}
}
@media only screen and (max-height: 420px){
    nav{
    height: auto;
    box-sizing: border-box;
    padding: 16px 30px 16px 30px;
}
    .np_bar{
       padding: 16px 0px 16px 30px; 
    }
#navbox{
    padding: 0px 0px 0px 0px;
}
#navlogo{
    height: 40px;
    width: 60px;
}
    .np_logo{
       height: 40px;
    width: 60px;
    }
    .np_close{
        padding: 0px 40px 0px 20px;
        font-family: poppins;
        font-size: 24px;
    }
    .np_back{
        height: 40px;
        width: 60px;
    }
    
    .np_butts{
        font-size: 18px;
        margin: 0px 0px 30px 0px;
    }
    .np_langs{
        font-size: 16px;
    }
    .np_social{
        height: 30px;
        width: 30px;
    }
    .navburger{
        height: 30px;
        width: 40px;
    }
    #head_wrap{
    min-height: 100vh;
}
.vid_wrap{
    display: none;
}
    #head_shirt{
    min-height: 100vh;
    padding: 0px 80px 0px 80px;
}
#shirttxt{
    width: 100%;
}
.headtitl{
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0px 200px 0px 0px;
    margin-top: 60px;
}
.headtxt{
    font-size: 14px;
    margin-bottom: 16px;
}
.headtxt2{
    font-size: 16px;
    margin-bottom: 2%;
    padding: 0px 300px 0px 0px;
}
.headdateh{
    margin-bottom: 14px;
}
.headdates{
    font-size: 16px;
}
    .hmain_stitl{
        font-size: 26px;
        margin: 0px 200px 0px 80px;
    }
    .hmain_stxt1{
        margin: 0px 0px 0px 80px;
    align-self: flex-start;
    }
    
    .hmain_btxt1, .hmain_btxt2,.hmain_btxt3{
        width: auto;
        font-size: 18px;
    margin: 0px 140px 30px 80px;
}
    .hmain_ablk1, .hmain_ablk2, .hmain_ablk3{
        height: 120px;
        padding: 0px 0px 0px 80px;
}
    .hmain_soico{
        margin: 0px 20px 100px 20px;
        display: block;
        width: 60px;
        height: 60px;
    }
}
@media only screen and (max-height: 360px){
    .np_butts{
        margin: 0px 0px 20px 0px;
    }
    .np_cont{
        margin-bottom: 10px;
    }
    #head_shirt{
    padding: 0px 60px 0px 60px;
}
.headtitl{
    font-size: 18px;
    color: rgb(255,255,255);
    margin-bottom: 6px;
    padding: 0px 200px 0px 0px;
    margin-top: 60px;
}
.headtxt{
    font-size: 12px;
    color: rgb(255,255,255);
    margin-bottom: 10px;
}
.headtxt2{
    font-size: 14px;
    color: rgb(255,255,255);
    margin-bottom: 6%;
    padding: 0px 260px 0px 0px;
}
.headdateh{
    margin-bottom: 8px;
}
.headdates{
    font-size: 14px;
    color: rgb(255,255,255);
}
    .hmain_stitl{
        font-size: 26px;
        margin: 0px 200px 0px 80px;
    }
    .hmain_stxt1{
        margin: 0px 0px 0px 80px;
    align-self: flex-start;
    }
}