#main_proj{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-end;
}
#main_vid2{ 
    display: inline-block;
    height: 100%;
    width: 100%;
}
#hprojshirt{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    background-color: rgba(30,30,30,0.5);
    left: 0;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
#hps_stamp{
    width:1200px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
}
#hstamp_logo{
    width: 1000px;
    z-index: 10;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-sizing: border-box;
}
mh{
    width: 1200px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    position: absolute;
    z-index: 90;
    list-style: none;
}
.sidemenu{
    top: 40vh;
    line-height:50px;
    margin-left: 20px;
    position: fixed;
    z-index: 90;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.ap{
    font-size: 16px;
    font-family: poppins;
    color: rgb(251,118,96);
    font-weight: 400;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.ap:hover,.ap:active{
    font-weight: 600;
}
.ap.active {
    font-weight: 600;
}
.apv{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.ap2_hold{
    width: 100px;
    height: 0px;
    overflow: hidden;
    margin-left: 20px;
    line-height:40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}
.ap2_title{
    font-size: 14px;
    font-family: poppins;
    color: rgb(251,118,96);
    font-weight: 600;
}
.ap2{
    font-size: 12px;
    color: rgb(251,118,96);
    font-family: poppins;
    font-weight: 300;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.ap2:hover,.ap2:active{
    font-weight: 400;
}
.apv:hover .ap2_hold,.apv:active .ap2_hold,.apv:focus .ap2_hold{
    height: 300px;
}
.ap_pm{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
}
.ap_plus, .ap_minus{
    font-size: 16px;
    font-family: poppins;
    color: rgb(251,118,96);
    font-weight: 400;
    margin-left: 10px;
    cursor: default;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ap_plus{
    display: block;
}
.ap_minus{
    display: none;
}
.apv:hover .ap_plus,.apv:active .ap_plus,.apv:focus .ap_plus{
    display: none;
}
.apv:hover .ap_minus,.apv:active .ap_minus,.apv:focus .ap_minus{
    display: block;
}
#proj_cont{
    width: 1000px;
    margin-top: 80px;
    z-index: 10;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-sizing: border-box;
}
.projbox{
    margin-bottom: 40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; 
}
.hprojtxtb{
    width: 500px;
    margin-bottom: 40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.hprojtitl{
    font-family: poppins;
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 30px;
}
.hprojtxt{
    font-family: poppins;
    font-size: 20px;
}
.mprojtxtb{
    width: 300px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.mprojtitl{
    font-family: poppins;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
.mprojtxt{
    font-size: 16px;
    margin-bottom: 20px;
}
.mprojstxt{
    font-size: 14px;
    margin-bottom: 40px;
}
.msprojtitl{
    font-family: poppins;
    font-size: 20px;
    margin-bottom: 20px;
}
.proj_tplaygrnd{
    width: 100%;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;

}
.proj_tfence1a,.proj_tfence1c,.proj_tfence2a, .proj_tfence2c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}
.proj_tfence1a{
    width: 470px;
    margin-bottom: 100px;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.proj_tfence1c{
    margin-left: 340px;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.proj_tfence2c{
    margin-bottom: 240px;
}
.proj_tfence1b, .proj_tfence2b, .proj_tfence2d{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
}
.proj_tfence1b{
    height: 360px;
    margin-left: 270px;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}
.proj_tfence2d{
    margin-top: 100px;
}
.proj_tbox1,.proj_tbox2{
    margin: 20px;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
.proj_tbox1{
    width: 160px;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}
.proj_tbox2{
    width: 220px;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}
.proj_tbox1:hover,.proj_tbox1:active,.proj_tbox1:focus{
    transform: scale(1.1, 1.1);
}
.proj_tbox2:hover,.proj_tbox2:active,.proj_tbox2:focus{
    transform: scale(1.1, 1.1);
}
.proj_timg1,.proj_timg2{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.proj_timg1{
    height: 160px;
    width: 160px;
}
.proj_timg2{
    height: 220px;
    width: 220px;
}
.proj_ttitl{
    font-family: poppins;
    width: 160px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(251,118,96);
    margin-bottom: 6px;
}
.proj_ttxt{
    color: rgb(30,30,30);
    font-size: 12px;
}
/*.ap{
    font-size: 30px;
    font-family: poppins;
    color: rgb(251,118,96);
}
.ap:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: -4px;
    right: 0;
    background-color: rgb(251,118,96);
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width .2s ease;
}
.ap:hover:after{
  width: 100%;
  left: 0;
  background-color: rgb(251,118,96);
}
.ap.active {
    color: rgb(251,118,96);
}
.ap.active:after {
	 content: '';
  position: absolute;
  width: 100%; height: 3px;
  display: block;
  margin-top: -4px;
  left: 0;
  background: rgb(251,118,96);
}*/