#main_proj{
    width: 1200px;
    height: 5000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: flex-end;
}
#hprojshirt{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    background-color: rgba(30,30,30,0.5);
    left: 0;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
#hps_stamp{
    width:1200px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    -webkit-justify-content: flex-end;
}
#hstamp_logo{
    width: 940px;
    z-index: 10;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-sizing: border-box;
}
#proj_cont{
    width: 940px;
    margin-top: 80px;
    z-index: 10;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    box-sizing: border-box;
}
.projbox{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;  
}
.tprojtxtb{
    width: 420px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.hprojtitl{
    font-family: poppins;
    font-size: 50px;
    color: rgb(251,118,96);
}
.hprojtxt{
    font-size: 20px;
    color: rgb(30,30,30);
    margin-top: 30px;
}
.tprojtxt{
    
}
mh{
    width: 1200px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    position: absolute;
    z-index: 90;
    list-style: none;
}
.sidemenu{
    top: 40vh;
    width: 140px;
    line-height:40px;
    position: fixed;
    z-index: 90;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.ap{
    font-size: 14px;
    font-family: poppins;
    color: rgb(251,118,96);
    font-weight: 400;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.ap:hover,.ap:active{
    font-weight: 600;
}
.ap.active {
    font-weight: 600;
}
.apv{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.ap2_hold{
    width: 100px;
    height: 0px;
    overflow: hidden;
    margin-left: 20px;
    line-height:40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.ap2_title{
    font-size: 14px;
    font-family: poppins;
    color: rgb(251,118,96);
    font-weight: 600;
}
.ap2{
    font-size: 12px;
    color: rgb(30,30,30);
    font-family: poppins;
    font-weight: 400;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
.ap2:hover,.ap2:active{
    color: rgb(251,118,96);
}
.ap2.active{
    color: rgb(251,118,96);
}
.apv:hover .ap2_hold,.apv:active .ap2_hold,.apv:focus .ap2_hold{
    height: 300px;
}
/*.ap{
    font-size: 30px;
    font-family: poppins;
    color: rgb(251,118,96);
}
.ap:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: -4px;
    right: 0;
    background-color: rgb(251,118,96);
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width .2s ease;
}
.ap:hover:after{
  width: 100%;
  left: 0;
  background-color: rgb(251,118,96);
}
.ap.active {
    color: rgb(251,118,96);
}
.ap.active:after {
	 content: '';
  position: absolute;
  width: 100%; height: 3px;
  display: block;
  margin-top: -4px;
  left: 0;
  background: rgb(251,118,96);
}*/