nav{
    background-color: rgba(255,255,255,0.96);
}
#sobremain{
    margin-top: 200px;
    width:940px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.s_hold, .s_holdficha{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.s_hold{
    margin-bottom: 100px;
}
#s_holdnames{
    height: 860px;
    margin-left: 240px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: column;
    
}
.s_intro{
    margin-left: 240px;
    margin-top: -30px;
    column-count: 3;
    -webkit-column-count: 3;
}
.s_titl{
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
}
.s_stitl{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 50px;
}
.s_btxt,.s_btxt2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
    align-self: flex-end;
    -webkit-align-self: flex-end;
}
.s_btxt2{
    color: rgb(251,118,96);
    font-weight: 400;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.s_btxt2:hover,.s_btxt2:focus,.s_btxt2:active{
    font-weight: 600;
}
.s_stxt{
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: rgb(251,118,96);
    margin-bottom: 10px;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.s_txt, .s_txt2{
    font-size: 16px;
    line-height: 20px;
}
.s_txt2{
    margin-bottom: 30px;
}
.s_stxt:hover,.s_stxt:focus,.s_stxt:active{
    font-weight:600; 
}
.etap_hold{
    margin-left: 490px;
    margin-bottom: 100px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.etap_cols{
    justify-content: space-between;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.etap_col{
    width: 210px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.s_names{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    color: rgb(251,118,96);
    margin-bottom: 10px;
    margin-right: 100px;
    -webkit-transition: font-weight 0.2s ease;
    -moz-transition: font-weight 0.2s ease;
    -o-transition: font-weight 0.2s ease;
    transition: font-weight 0.2s ease;
}
.s_names:hover,.s_names:focus,.s_names:active{
    font-weight: 600;
}
#s_holdfcont{
    margin: 100px 0px 0px 240px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.s_holdfsec1,.s_holdfsec2,.s_holdfsec3{
    display: flex;
    display: -webkit-flex;
}
.s_holdfsec1,.s_holdfsec2{
    margin-bottom: 40px;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.s_holdfsec3{
    height: 264px;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.s_fblks, .s_fbblk1,.s_fbblk2,.s_fbblk3,.sfiblks{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.s_fblks,.s_fbblk1, .s_fbblk2, .s_fbblk3{
    width: 220px;
}
.s_fblks,.s_fbblk1, .s_fbblk2{
    margin-right: 30px;
}
.s_fblks, .s_fblks2{
    margin-bottom: 20px;
}
.s_fblks2{
    margin-right: 30px;
}
.s_fiblks{
    margin-left: 80px;
    margin-top: 20px;
}
.s_fbblk1{
}
.s_fbblk2{
    margin-top: 124px;
}
.s_fbblk3{
    margin-top: 248px;
}
.s_fbtitl{
    font-family: poppins;
    font-size: 16px;
    font-weight: 600;
}
.s_fstitl, .s_ftxt{
    font-family: poppins;
    font-size: 12px;
}
.s_ftitl{
    font-weight: 600;
    margin-bottom: 10px;
}
.s_fstitl{
    font-weight: 600;
    margin-bottom: 8px;
}
.s_ftitl{
    font-family: poppins;
    font-size: 14px;
}
.s_ftxt{
    font-weight: 400;
}
.s_fpshelf{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.s_fpatrns{
    height: 100px;
    width: 100px;
    margin: 20px 20px 0px 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    justify-content: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    padding: 10px;
    margin-top: -22px;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    font-size: 50px;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    border-radius: 0 3px 3px 0;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    justify-content: center;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(255,255,255,1);
}
.dot_holder{
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    
}
/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 4px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 50%;
  display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(255,255,255,1);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1200px) {
    #sobremain{
        box-sizing: border-box;
        padding: 0px 40px 0px 40px;
    width:100%;
}
}
@media only screen and (max-width: 1000px) {
    .nav_page{
        width: 100%;
        height: 100vh;
        background-color: rgb(251,118,96);
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 900;
        display: flex;
        flex-direction: column;
        position: fixed;
        pointer-events: none;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -webkit-transition: opacity 0.6s ease;
        -moz-transition: opacity 0.6s ease;
        -o-transition: opacity 0.6s ease;
        transition: opacity 0.6s ease;
    }
    .nav_page.active{
        opacity: 1;
        pointer-events: all;
        display: flex;
        display: -webkit-flex;
        -webkit-transition: opacity 0.4s ease;
        -moz-transition: opacity 0.4s ease;
        -o-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
    }
    .s_intro{
        width: 100%;
    margin-left: 0px;
    margin-top: 60px;
    column-count: 2;
    -webkit-column-count: 2;
}
    .s_hold{
    box-sizing: border-box;
        padding: 0px 40px 0px 40px;
}
    .s_holdficha{
        display: none;
    }
    .etap_hold{
    width: 100%;
        box-sizing: border-box;
        padding: 0px 40px 0px 40px;
        margin-left: 0px;
    margin-bottom: 100px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.etap_cols{
    justify-content: space-between;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
}
.etap_col{
    width: 48%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
    .s_btxt,.s_btxt2{
    margin-bottom: 30px;
        align-self: flex-end;
    -webkit-align-self: flex-end;
}
    .s_btxt{
        box-sizing: border-box;
        padding:0% 0% 0% 34%;
    }
    #s_holdnames{
        width: 100%;
    margin:60px 0px 0px 0px;
        box-sizing: border-box;
        padding-left:18%; 
}
    .s_names{
    margin-bottom: 10px;
    margin-right: 0px;
}  
}
@media only screen and (max-width: 600px){
    #sobremain{
    margin-top: 200px;
        padding: 0px 0px 0px 0px;
}
    .s_intro{
    margin-top: 60px;
    column-count: 1;
    -webkit-column-count: 1;
}
    .s_hold{
        align-items: center;
        -webkit-align-items: center;
        padding: 0px 30px 0px 30px;
}
    .etap_hold{
        padding: 0px 30px 0px 30px;
    margin-bottom: 80px;
         align-items: center;
        -webkit-align-items: center;
}
.etap_cols{
    flex-direction: column;
    -webkit-flex-direction: column;
}
.etap_col{
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-right: 40px;
}
    .s_btxt,.s_btxt2{
    margin-bottom: 30px;
        align-self: flex-end;
    -webkit-align-self: flex-end;
}
    .s_btxt{
        font-size: 18px;
        box-sizing: border-box;
        padding:0px 40px 0px 0px;
    }
     #s_holdnames{
        width: 100%;
         height: 760px;
    margin:60px 0px 0px 0px;
        align-items: center;
        padding-left:0; 
}
    .s_names{
    margin-bottom: 10px;
        font-size: 14px;
}
    .s_stxt{
    margin-bottom: 14px;
}
    .s_txt{
    box-sizing: border-box;
        padding-right: 40px;
}
    .s_stitl{
        text-align: center;
    }
.dot {
  height: 10px;
  width: 10px;
}

    .prev, .next,.text {
        font-size: 20px;
        width: 20px;
    }
}
@media only screen and (max-width: 380px){
    #s_holdnames{
         height: auto;
}  
    .s_titl{
        margin-bottom: 0px;
    }
    .s_txt{
        font-size: 14px;
    }
}
@media only screen and (max-height: 420px){
       #sobremain{
    margin-top: 200px;
        padding: 0px 0px 0px 0px;
}
    .s_intro{
    margin-top: 60px;
    column-count: 1;
    -webkit-column-count: 1;
}
    .s_hold{
        align-items: center;
        -webkit-align-items: center;
        padding: 0px 80px 0px 80px;
}
    .etap_hold{
        padding: 0px 80px 0px 80px;
    margin-bottom: 80px;
         align-items: center;
        -webkit-align-items: center;
}
.etap_cols{
    flex-direction: column;
    -webkit-flex-direction: column;
}
.etap_col{
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-right: 40px;
}
    .s_btxt,.s_btxt2{
    margin-bottom: 30px;
        align-self: flex-end;
    -webkit-align-self: flex-end;
}
     #s_holdnames{
        width: 100%;
         height: 760px;
    margin:60px 0px 0px 0px;
        align-items: center;
        padding-left:0; 
}
    .s_names{
    margin-bottom: 10px;
        font-size: 14px;
}
    .s_stxt{
    margin-bottom: 20px;
}
    .s_txt{
    box-sizing: border-box;
        padding-right: 40px;
}
    .s_stitl{
        text-align: center;
    }
        .s_btxt{
        box-sizing: border-box;
        padding:0px 0px 0px 140px;
    }
}